<a href="https://colab.research.google.com/github/hanniamed/ArtificialIntelligence/blob/main/AI_Assignment1_HanniaMedina_1992370.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A2: Python Exercises

Student : Hannia Medina Aguilar

Student ID : 1992370

Class : Thursday N4-N6

### ***E X E R C I S E S***

**1. Create a python script where the user is going to be asked for the name. After that, the program will greet the user with the given name. Only exception: the script will not greet the user if the given name is "Ana", "John" or "Peter".**

In [107]:
def function_greet():
  #Asking name
  name = input("What is your name ? ")
  #Greeting if name is not Ana, John or Peter
  if (name != "Ana") and (name != "John") and (name != "Peter"):
    print ("Hello " + name + ", have a nice day !")

In [108]:
#Example 1
function_greet()

What is your name ? Hannia
Hello Hannia, have a nice day !

In [109]:
#Example 2
function_greet()

What is your name ? Ana

In [110]:
#Example 3
function_greet()

What is your name ? Peter

**2. Create a function in a pyhton script that returns (print) the last element of a given list, reverts the order of the list and finally returns (print) the reverted list.**

In [114]:
def function_revert(input):
  #Printing last element of the listt
  print('Last element :', input[-1])
  
  #To revert list
  reverted_list = []
  for i in range(len(input)):
    reverted_list.append( input[-(i+1)] )
  input = reverted_list
  
  #Printing reverted list
  print('\nReverted list : ')
  for i in range(len(input)):
    print(input[i])

In [115]:
# Example 1
example_list = ['Hannia','Sergio','Jacky','Miguel','Juanjo'] 
function_revert(example_list)

Last element : Juanjo

Reverted list :
Juanjo
Miguel
Jacky
Sergio
Hannia

In [116]:
# Example 2
function_revert(input = [10,20,30,40,50,60,70])

Last element : 70

Reverted list :
70
60
50
40
30
20
10

**3. Create a function in a python script that takes a list of strings as input and then it prints, line by line, the whole list in a rectangular shape. E.g., the list could be ["Hi", "my", "name", "is", "John", "Doe"] and the final result is:**

********** 

* Hi        * 

* my       *

* name   * 

* is         * 

* John    * 

* Doe     *

**********

In [99]:
def function_shape(input):
  
  #Finding the longest string
  max = 0
  for i in range(len(input)):
    if len(input[i]) > max:
      max = len(input[i])

  #Defining initial and final line
  line = ''
  for i in range(max+4):
    line += '*'

  #Printing first line 
  print(line)

  #Printing all strings of the input list
  for i in range(len(input)):
    spaces = ' ' * (max-len(input[i]))
    print('* ' + input[i] + spaces + ' *')
  
  #Printing last line 
  print(line)

In [100]:
#Example 1
function_shape(input = ["Hi", "my", "name", "is", "John", "Doe"])

********
* Hi   *
* my   *
* name *
* is   *
* John *
* Doe  *
********

In [101]:
#Example 2
function_shape(["Today", "is", "19th", "september"])

*************
* Today     *
* is        *
* 19th      *
* september *
*************

In [102]:
#Example 3
my_list = ["97", "days", "to", "go","until", "Christmas !"]
function_shape(my_list)

***************
* 97          *
* days        *
* to          *
* go          *
* until       *
* Christmas ! *
***************